<div class="cont"> 
    
<h2 class="page-header"> fledddddddd</h2>
<div class="log-buttons">
        <button class="button-link">
          <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
          </button>
     
          <button class="button-link">
            <%= link_to 'Sign In', user_session_path, class: "nav-link" %>
          </button>
    
          <button class="button-link">
            <%= link_to 'Sign out', destroy_user_session_path, 'data-turbo-method': :delete, class: "nav-link" %>
          </button>
  </div>

  </div>