<div class="splash_page">

  <div class="app-title">
    <h2>Wedding Cakes</h2>
  </div>
<div>
  <div class="button-link">
  <%= link_to 'Sign in', new_user_session_path, method: :get, class: 'link' %>
</div>
  <div class="button-link">
  <%= link_to 'Sign up', new_user_registration_path, method: :get, class: 'link' %>
</div>
</div>
</div>