/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(191, 209, 251);
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(234, 239, 248);
  border-radius: 10px;
}

.sessions-page {
  width: 100%;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log_in {
  position: relative;
  margin-bottom: 10px;
}

.field {
  display: flex;
  margin: 0;
  width: 100%;
}

.field input {
  width: 100%;
  padding: 0.8rem;
}

.log-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.splash_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.sessions_btn {
  background-color: #3370b3;
  border: none;
  text-decoration: none;
  text-align: center;
  color: #efefef;
  font-size: 1rem;
  padding-top: 8px;
}

.but-default {
  background: none;
  border: none;
  text-decoration: none;
  color: #efefef;
}

.link {
  text-decoration: none;
  color: #efefef;
  margin-top: 5px;
}

.button-link {
  height: 2rem;
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  margin-bottom: 10px;
}

.app-title {
  display: flex;
  justify-content: center;
}

.category-ctn {
  width: 100%;
  background-color: #efefef;
}

.category-list-ctn {
  padding: 0 5px;
}

.cat-img-ctn {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 100%;
}

.category-img {
  width: 100%;
  height: 100%;
}

.category-nav {
  display: flex;
  height: 40px;
  padding: 0 10px;
  justify-content: space-between;
  background-color: #3370b3;
  color: white;
  z-index: 3;
}

.sessions-page .category-nav {
  margin-bottom: 10px;
}

.nav-title {
  margin: 0;
  align-content: center;
}

.nav-title-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.but-default.log-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(238, 67, 96, 0.85);
  font-weight: bold;
}

.category-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  padding: 5px;
  height: 60px;
  background-color: white;
  border: 1px solid #dad9d9;
  border-radius: 5px;
}

.category-item-left {
  display: flex;
}

.category-item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-det {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #2e2f30;
}

.cat-det {
  margin: 0;
  text-decoration: none;
}

.cat-det.date {
  color: rgba(102, 102, 102, 0.8);
}

.but-default.bottom-btn {
  align-self: center;
}

.bottom-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #0e6c13;
  color: #efefef;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.btn-rmv {
  background: #2f8a53;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #efefef;
}

.btn-rmv h5 {
  margin: 2px;
}

.price-band {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  background-color: white;
}

.category-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-nav a h2 {
  margin: 0;
  color: white;
}

.cate-create-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form_create {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notice {
  width: fit-content;
  max-width: 100%;
  background-color: rgba(51, 112, 179, 0.71);
  z-index: 5;
}
